<!DOCTYPE html>
<html>
<head>
  <title>Admin Login</title>
</head>
<body>
  <!-- Flash messages -->
  <% if flash[:notice] %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:alert] %>
    <div class="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <h2>Admin Login</h2>
  <%= form_tag admin_sessions_path do %>
    <div>
      <%= label_tag :username %>
      <%= text_field_tag :username %>
    </div>
    <div>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <div>
      <%= submit_tag "Log In" %>
    </div>
  <% end %>
</body>
</html>
