<h1>Orders</h1>

<% if @user.orders.any? %>
  <ul>
    <% @user.orders.each do |order| %>
      <li>
        Order ID: <%= order.id %><br>
        Subtotal: <%= number_to_currency(order.subtotal) %><br>
        GST: <%= number_to_currency(order.gst) %><br>
        PST: <%= number_to_currency(order.pst) %><br>
        HST: <%= number_to_currency(order.hst) %><br>
        Total: <%= number_to_currency(order.subtotal + order.gst + order.pst + order.hst) %><br>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No orders found.</p>
<% end %>
