<!DOCTYPE html>
<html>
<head>
  <title>Checkout</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
 </head>
<body class="bg-gray-100 p-8">
  <h2 class="text-2xl font-bold mb-4">Checkout</h2>

  <div class="bg-white shadow-md p-6 mb-8">
    <strong>Email:</strong> <%= @user.email %><br>
    <strong>Address:</strong> <%= @user.address.nil? ? "Please provide your address" : "#{@user.address}, #{@user.city}, #{@province_name}" %><br>

    <!-- Display other user details as needed -->

    <h3 class="text-lg font-bold mt-4">Order Summary</h3>
    <table class="w-full mt-4">
      <thead>
        <tr>
          <th class="px-4 py-2">Product</th>
          <th class="px-4 py-2">Quantity</th>
          <th class="px-4 py-2">Unit Price</th>
          <th class="px-4 py-2">Total Price with Tax</th>
        </tr>
      </thead>
      <tbody>
        <% @invoice[:items].each do |item| %>
          <tr>
            <td class="px-4 py-2"><%= item[:product_name] %></td>
            <td class="px-4 py-2"><%= item[:quantity] %></td>
            <td class="px-4 py-2">$<%= item[:unit_price] %></td>
            <td class="px-4 py-2">$<%= item[:total_price_with_tax] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="mt-4">
      <strong>Subtotal:</strong> $<%= @invoice[:subtotal] %>
    </div>
    <div>
      <strong>Taxes:</strong>
      <ul class="list-disc pl-6 mt-2">
        <li>GST: <%= number_to_currency(@invoice[:taxes][:gst]) %></li>
        <li>PST: <%= number_to_currency(@invoice[:taxes][:pst]) %></li>
        <li>HST: <%= number_to_currency(@invoice[:taxes][:hst]) %></li>
      </ul>
    </div>

    <div class="mt-4">
      <strong>Total:</strong> $<%= @invoice[:total] %>
    </div>

    <div class="mt-4">
      <%= link_to "Edit Profile", edit_user_registration_path, class: "text-blue-500 hover:underline" %>
    </div>
  </div>
</body>
</html>
